# App Config
NODE_ENV=production
PORT=3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Stripe Keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_SECRET_KEY=sk_test_
STRIPE_WEBHOOK_SECRET=whsec_

# Mercado Pago Keys
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=TEST-
MERCADOPAGO_ACCESS_TOKEN=TEST-
