# App Config
NODE_ENV=production
PORT=3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Stripe
STRIPE_SECRET_KEY=sk_live_
STRIPE_WEBHOOK_SECRET=whsec_

# Mercado Pago Keys
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=TEST-
MERCADOPAGO_ACCESS_TOKEN=TEST-
